.catalog{
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 30px 0px 0px;
  margin-bottom: 200px;
  margin-block-end: 70px;
  
}

.catalog__text_purple{
color: rgb(228, 122, 213);
font-size: 16px;
  margin-top: 50px;
    padding: 0px 24px 0px
}

.catalog__text_big{
color: rgb(250, 250, 250);
font-size: 46px;
font-weight: 400;
line-height: 120%;
margin-top: 10px;
    padding: 0px 24px 0px
}


@media(max-width: 480px){
  .catalog__text_big{
font-size: 34px;

font-weight: 400;

line-height: 120%;

letter-spacing: 0%;
margin-top: 0px;
padding: 5px;
  }



.catalog__items a {
    width: 60px;
    gap: 5px;
    height: 30px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -36px;
}


}

.catalog__menu {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 0px; /* добавлено */
    margin: 0px;
    padding: 0px 24px 0px;
   
}

.catalog__items a{
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    color: rgb(250, 250, 250);
    text-decoration:none;
    padding: 8px 16px 8px 16px;
    border: 1px solid rgb(77, 80, 100);
    border-radius: 10px;
     margin-right: -10px;
     
  }
@media(max-width: 480px){
.catalog__items a{
margin-top: 20px;
}

.catalog__text_purple{
  padding: 5px;
}

.catalog{
  margin-top: -30px;
  padding: 15px;
}

.catalog__menu{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px 0px 30px;
  padding: 0px 0px 0px 15px
}

.catalog__item{
  padding: auto;
}


}
.catalog__items a:hover{
    background-color: rgb(108, 56, 204);
    border: 1px solid rgb(108, 56, 204);
}

.catalog__product{
  margin-top: 30px;
}

.catalog__information{
  background: rgb(30, 31, 41);
  width: 360px;
  color: rgb(250, 250, 250);
  padding: 25px;
  height: 190px;
}




.catalog__bigText{
  font-size: 23px;
  font-weight: bolder;
}

.catalog__smallText{
  font-weight: lighter;
  margin-top: 5px;
  margin-block-end: 25px;
}

.catalog__time{
  font-size: small;
  display: flex;
  align-items: center;
  gap: 7px;
}

.catalog__tems{
list-style: none;
display: flex;
padding: 0px;
gap: 15px;


}

.catalog__product_temsItem {
    box-sizing: border-box;
    border: 1px solid rgb(77, 80, 100);
    border-radius: 17px;
    padding: 6px 12px 6px 12px;
    font-size: 12px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    
}

.catalog__foot{
  border-radius: 0px 0px 10px 10px;
background: rgb(46, 45, 61);
  color: rgb(250, 250, 250);
   padding: 25px;
   display: flex;
   justify-content: space-between;
  
}



.catalog__foot_bigText{color: rgb(250, 250, 250);

font-family: Fira Sans;

font-size: 22px;

font-weight: 700;

line-height: 120%;

letter-spacing: 0%;
display: flex;
align-items: center;
}

.catalog__foot_button {
    color: rgb(250, 250, 250);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border-width: 100%; /* Увеличиваем ширину границы */
    background-color: rgb(108, 56, 204);; /* Устанавливаем фиолетовый цвет фона */
    width: 140px;
    border-radius: 10px; /* Увеличиваем радиус скругления углов */
    padding: 16px 32px 16px 32px;
    display: flex;
    justify-content: center;
}

.catalog__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: min-content;
      padding: 0px 24px 0px
}

@media(max-width: 160px){
  .catalog__container{
    margin: 0 auto;
  }

  .catalog{
  display: none;
}


}


@media(max-width: 1000px){
    .catalog__img {
        width: 290px;
    }


    .catalog__information {
    width: auto;
    height: auto;
    }



  .catalog__foot {
    width: auto;
}
}



@media(max-width: 480px){
.catalog{

  padding: 10px;
}}





