.footer{
    background: rgb(16, 17, 20);
}

.footer__wrapper{
    max-width: var(--layout-width);
    margin: 0 auto;
    padding:60px 24px 100px ;
    margin-bottom: 36px;
}

.footer__social{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    gap: 24px;
}

.footer__menu{
    display: flex;
    gap: 24px 80px;
    margin-bottom: 48px;
}

.footer__menu-header{
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin: 18px;
    color: rgb(228, 122, 213);
}

.menu-small__item  a{
    color: var(--color-text);
    list-style: none;
    
    
}


.menu-small__item{
    color: var(--color-link-hover);
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    margin-top: 15px;


}

.footer__menu-header,
.menu-small {
    margin: 0;
    padding: 0;
}

.footer__menu-header {
    display: inline-block;
    vertical-align: top; /* Выравнивание по верхнему краю */
}

.menu-small__item a:hover{
    color: var(--color-link-hover);
}

.foote__cpwr{
    color:var(--color-link-hover);
}

@media(max-width: 860px){
    .footer__menu{
       flex-direction: column;
       margin-bottom: 24px;
    }
}



@media(max-width: 640px){
    .footer__social{
       flex-direction: column;
    
    }
}
