.footer{
    background: rgb(16, 17, 20);
    display: flex;
    align-items: end;
}

.footer__wrapper{
    max-width: var(--layout-width);
    margin:  70px 146px 40px; 
     
    margin-bottom: 36px;
}

.footer__social{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    gap: 24px;
}

.footer__menu{
    display: flex;
    gap: 24px 80px;
    margin-bottom: 48px;
}

.footer__header{
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin: 18px;
    color: rgb(228, 122, 213);
}


.footer__item{
    color: var(--color-link-hover);
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    margin-top: 15px;


}

.footer__item_link{
    color: var(--color-text);
    list-style: none;
    
    
}

.footer__header,
.footer__small {
    margin: 0;
    padding: 0;
}

.footer__header {
    display: inline-block;
    vertical-align: top; /* Выравнивание по верхнему краю */
}

.footer__item a:hover{
    color: var(--color-link-hover);
}

.foote__cpwr{
    color:var(--color-link-hover);
    margin-block-end: 100px;
}

@media(max-width: 860px){
    .footer__menu{
       flex-direction: column;
       margin-bottom: 24px;
    }
}



@media(max-width: 640px){
    .footer__social{
       flex-direction: column;
    
    }
}


@media(max-width: 480px){
 .section__hero {
    margin: 0 auto;
    
    line-height: 120%;
    color: var(--color-text);
    width: 100%;
    font-size: 19px;
    font-weight: 10px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) for truncated text */
  }

  .header__wrapper {
    padding: 0px 24px;
    margin: auto;
  }

.footer__wrapper{
    margin: 30px
}

.footer__socialIcons{
   margin: 0px
}


}

  .button {
 width: 150px;
  height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }

  .section__buttons {
  display: flex;
  gap: 16px;
}


.section__image {
   width: 40%;
  }

  .section__image{
        height: auto;    
    }

    
 .section__hero_content{
    width: 50%;
    font-weight: 80%;


}
  



@media(max-width: 480px){
.section__image {
   width: 100%;
  }


}