:root {
    --color-primary: #6C38CC;
    --color-bg: #16171D;
    --color-stroke: #4D5064;
    --color-bg-light: #2E2D3D;
    --color-text: #FAFAFA;
    --color-bg-medium: #1E1F29;
    --color-link-hover:#AFB2BF;
    --gradient: rgba(215, 123, 230, 1.00);
    --color-footer: #101114;
    --space-10: 10;
    --layout-width:1172px;
    --border-10: 10px;
}

/* ДЛя - social-icons__icon */
*{
    box-sizing: border-box;
}

html {
    --color-primary: green;
}

body {
    background-color: var(--color-bg);
    margin: 0;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
}

a{
    text-decoration: none;
}

