.header{
    background-color: var(--color-bg-medium);
}

.header__wrapper{
    max-width: var(--layout-width);
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 24px ;

}


.header__login{
display: flex;
gap: 8px;
align-items: center;
font-size: 18px;
line-height: 120%;
color: var(--color-text);
}


.header__login:hover {
    color: var(--color-link-hover);
    cursor: pointer;
}


.header__buttun{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

@media(max-width: 960px){

    .header__login{
        display: none;
    }

.header__buttun{
display: block;
}
}


@media(max-width: 480px){
    .header__logo{
        max-width: 174px;
    }

    .header__wrapper{
        padding: 30px 24px 0px;
    margin:0px 15px;
    gap: 45px;
    }


    .section__buttons{
        width: 163px;
        height: 46px;
        margin: 0px;
    }
    
    .button {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  white-space: nowrap; /* Prevent text from wrapping */
  display: flex;
    align-items: center;
}
}




/* Menu */

.menu{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;

}

.menu__items{
    padding: 8px 16px;
}
.menu__items a{
 font-family: 'Fira Sans';  
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 120%;
 color: var(--color-text);

}



.menu__items_active:hover{
  border: 1px solid rgb(77, 80, 100);

  border-radius: 8px;
}


/* .menu__items_gray{
    color: rgba(175, 178, 191, 1.00);
} */

@media(max-width: 960px){
    .menu{
        display: none;
    }

}



@media(max-width: 460px){

   .header{
    display: flex;
    justify-content: space-around;
   }
}
