
.opinion{
  width: 100%;
  background: rgb(30, 31, 41);
  
}

.opinion__block{
  color: rgb(250, 250, 250);
  padding: 100px 0px 40px; 
}

@media(max-width: 480px){
 .opinion__block {
    padding: 100px 25px 40px;
    font-size: 15px;
  }
  }


.opinion__title_purple{
color: rgb(228, 122, 213);
font-size: 16px;
padding: 0px 24px 0px;
}

.opinion__title_big{

font-size: 46px;
font-weight: 400;
line-height: 120%;
margin-top: 10px;
      padding: 0px 24px 0px;

}

@media(max-width: 480px){
.opinion__title_big{
  font-size: 35px;
}
  }


.opinion__title_small {
margin: 8px 0px;
line-height: 1.5
}

.opinion__title_large{
  margin-top: 32px;
      padding: 0px 24px 0px;
}

.opinion__statisticBlock{
  width: 360px;
  height: 188px;
  border-radius: 10px;
  background: rgb(46, 45, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  flex-direction: column;
  margin-top: 40px;
  
}

.opinion__statistics{
  display: flex;
  justify-content: space-between;
  gap: 15px;
      padding: 0px 24px 0px;
}

@media(max-width: 480px){
.opinion__statistics{
    display: flex;
    flex-direction: column; /* Расположение блоков по вертикали */
    align-items: center; 
}
.opinion__statisticBlock{
  width: 310px;
    height: 100px;

    margin: 18px 0px 4px;
}
}
.opinion__number_gradient {
 
 
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 700;
  background: linear-gradient(157.65deg, rgb(215, 123, 230), rgb(190, 99, 230), rgb(108, 56, 204));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; /* Делаем текст прозрачным */
}

.opinion__description{
color: rgb(250, 250, 250);
font-size: 18px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
margin-top: 16px;

}




@media(max-width: 868px){
.opinion__description{
  font-size: 10px;
}
}
.opinion{
  display: none;
}

