
.headling {
  max-width: var(--layout-width);
  
 padding: 70px 146px 100px;
 
}


.headling__text {
  color: rgb(250, 250, 250);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
}

.headling__text_purple {
  color: rgb(228, 122, 213);
  margin-top: 90px;
}

.headling__text_big{
  font-size: 40px;
  
 

}



.headling__icons{
  display: flex;
  gap: 24px;
  margin-block-end: 50px;
  margin-top: 35px;
}

/* articles */

.headling__articles {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background: rgb(30, 31, 41);
  padding: 32px 40px 15px 32px;

  width: 1218px;
  height: auto;
  margin: 30px 0;
}

.headling__content {
  padding-right: 20px;
}

.headling__articlesBlock{
  margin-right: 15px;
}

 .headling__button {
  border: 1px solid rgb(77, 80, 100);
  border-radius: 10px;
  background: none;
  color: var(--color-text);
  width: 158px;
  min-width: 158px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
}

.headling__button:hover {
  background-color: rgb(46, 45, 61);
}

.headling__text_first {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
}

.headling__publicationStyle {
  background: none;
  color: var(--color-text);
  box-sizing: border-box;
  border: 1px solid rgb(77, 80, 100);
  border-radius: 10px;
  width: 200px;

height: 54px; 
  font-size: 15px;
}

.headling__publicationStyle {
  display: block; /* Делаем кнопку блочным элементом */
  margin-left: 60%;/* Автоматический отступ слева и справа делает элемент по центру */
}
.headling__publication {
  padding: 16px 1px 16px 32px;
}

@media (max-width: 1200px) {
  .headling__articles {
    flex-direction: column;
  }

  .headling__content {
    padding-right: 0;
  }

  .headling__button {
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  .headling {
    margin: 0;
    padding: 50px 20px;
  }

  .headling__articles {
    padding: 24px 16px;
  }

  .headling__button {
    width: 100%;
  }
}

.headling__status{
    margin-right: 15px;
    font-size: 16px;
    color: rgb(175, 178, 191);
    font-weight: 400;
    font-size: small;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.headling__text_big{
    margin-block-end: 30px;
}

.headling__text_small{
    margin-block-end: 20px;
}

@media (max-width: 180px) {
    .headling__text_big {
        margin-block-end: 10px; /* Устанавливаем минимальный отступ между абзацами */
    }
}

@media(max-width: 480px){
  .headling__articles {
    margin: auto;
    padding: 20px;
    width: auto;
    margin-block-end: 20px;
  }
.headling__text_big {
  line-height: 47px;
}

.headling{
  padding: 10px 30px;
}

.headling__text_purple{
margin-top: 40px;
}
.headling__publicationStyle{
  margin: auto;
}
}


@media(max-width: 800px){
.headling__articles{
  
    margin: auto;
    padding: 20px;
    width: auto;
    margin-block-end: 20px;
  
}

  .headling__button {
    margin-top: 20px;
    width: 90%;
    margin: auto;
  }







}

.headling{
  display: none;
}